@import '@mdi/font/css/materialdesignicons.css';
@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Quicksand:wght@300..700&display=swap');
@import "./base.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-size: 15px;
  font-optical-sizing: auto;
  font-style: normal;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app {
 
  margin: 0 auto;
  font-weight: normal;
}

body {
  background-color: white;
  color: black;
}


h1 {
  color: #000000;
  font-weight: 600;
  margin: 5vw 0 2vw 0;
  margin-left:2vw;
}

button {
  background-color: #000000;
  color: white;
  border: none;
  padding: 0.5vw;
  border-radius: 50px;
  height: 4vh;
  
}

.container {
  display: flex;
  flex-direction: column;
  padding: 1vw;
  background-color: white;
  width: 30vw;
  min-height: 30vw;
 
}

.container-select {
  display: flex;
  flex-direction: column;
  padding: 1vw;
  background-color: white;
  min-width: 40vw;
  min-height: 30vw;
  
}

.form {
  display: flex;
  gap: 0.6vw;
  height: 3vw;
  margin: 0 1vw;
}

input {
  padding: 0.8vw;
  border-radius: 20px;
  border: solid #797e8c 1px;
  outline: none;
  width: 15vw;
  height: 4vh;
}

ul {
  padding: 0;
  width: 27vw;
}

li {
  background-color: white;
 
  list-style-type: none;
  margin: 1vw;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
 
  padding: 0 2vw;
}

select {
  border-radius: 20px;
  width: 5vw;
  height: 4vh;
}
.btn-excluir{
  background-color: #000000;
  color: white;
  border: none;
  padding: 0.5vw;
  border-radius: 200px;
  height: 4vh;
}
